<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/styles.css" />
    </head>
    <body>
        <h1>Welcome to a wiki!</h1>
        <p>visit /pages/PageName to view a page</p>

        <p>Or, you can <a href="/new">create a new page</a><p>
    </body>
</html>
